/*
INFO: 
	project: rambler ad
	browsers: >=ie8, all
	width: fluid
	columns: 2
	use: 
	desc: использовать блоки с http://news.smi2.ru/newdata/adpreview?ad=682634&bl=4321&ct=adpreview&st=16
	version 1
	
COLORS:
	text basic: #252525

TABLE OF CONTENTS:
	FONTS
	COMMON_STYLES
	GLOBAL_layout
	LOCAL_blocks	
	GLOBAL_blocks	
	MEDIA QUERIES
	PLUGINS	& WIDJETS
*/

/*************************************************************************************************************** FONTS */


/*************************************************************************************************************** COMMON_STYLES */
html, body, div, h1, h2, h3, h4, h5, h6, a, a img, p, ul, ol, li, span, fieldset , form, dl, dd, dt, table, tr, td, img{ 
	border: none;
	margin: 0; 
	outline: none;	
	padding: 0;
}

html{
    height:100%;	
    background: #efefef;
}

body{	
    height:100%;	
    background: #efefef;

	font-family: 'PT Sans', sans-serif;
	font-size: 16px;
    color: #252525
}	

ul{
	list-style-type: none;
}

input[type="text"]:focus, input[type="password"]:focus, textarea:focus { outline: none; }

textarea{
	resize: none;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
	zoom:1;
}

.clear{
	clear: both;
}	
	
.hide{
	display: none !important;
}

.block_basic{
	background: #fff;
	margin-bottom: 5px;
	padding: 15px 0 ;

	text-align: center;
}

.teasers3_area .item,
.teasers2_area .item,
.teasers1_area .item {
	float: none !important;
	display: inline-block !important;
	vertical-align: top !important;
	position: relative !important;
	left: auto !important;
	top: auto !important;
	-webkit-transform: none !important;
	transform: none !important;
	width: 32.9% !important;
	overflow: hidden !important;

	text-decoration: none !important;
}

		.teasers3_area .item .a_inner,
		.teasers2_area .item .a_inner,
		.teasers1_area .item .a_inner {
			padding: 0 10px 20px 10px;
			display: block;
			color: #252525;
			font-weight: bold;
			font-size: 16px;
			font-family: 'PT Sans', sans-serif;
			line-height: 18px;
			text-decoration: none;
		}	

/*************************************************************************************************************** GLOBAL_layout */
.wrap1{
	
}

	.wrap1 .header{
		position: fixed;
		background: #fff;
		z-index: 100;
		width: 100%;
		height: 60px;
		overflow: hidden;
		margin-bottom: 5px;
	}

	.wrap2{
		padding: 65px 60px 0;
		/*max-width: 1100px;*/
		overflow: hidden;
		position: relative;
		z-index: 10;
	}

		.wrap2 .left_column{
			margin-right: 405px;
			overflow: hidden;
		}

		.wrap2 .right_column{
			overflow: hidden;
			width: 400px;
			position: fixed;
			top: 65px;
			right: 60px;
			background: #fff;
		}

/*************************************************************************************************************** LOCAL_blocks : teasers3_area */
.teasers3_area{

}

	.teasers3_area .item .article {
		color: #000;
		font-family: 'PT Sans', sans-serif;
		text-align: left;
		line-height: 20px;		
	}					

		.teasers3_area .item:nth-child(4n+1) .article .text{
			background: #e8e2f1;
		}

		.teasers3_area .item:nth-child(4n+2) .article .text{
			background: #f9fcfe;
		}	

		.teasers3_area .item:nth-child(4n+3) .article .text{
			background: #f3f1e4;
		}		

		.teasers3_area .item:nth-child(4n+4) .article .text{
			background: #e2edd3;
		}	

		.teasers3_area .item .article .text{
			padding: 20px;			
			background: #f9fcfe;
			position: relative;
		}		

		.teasers3_area .item:nth-child(4n+1) .article .text:before{
			position: absolute;
			bottom: -10px;
			left: 30px;
			border: 5px solid transparent;	border-top: 5px solid #e8e2f1;

			content: '';
		}

		.teasers3_area .item:nth-child(4n+2) .article .text:before{
			position: absolute;
			bottom: -10px;
			left: 30px;
			border: 5px solid transparent;	border-top: 5px solid #f9fcfe;

			content: '';
		}

		.teasers3_area .item:nth-child(4n+3) .article .text:before{
			position: absolute;
			bottom: -10px;
			left: 30px;
			border: 5px solid transparent;	border-top: 5px solid #f3f1e4;

			content: '';
		}

		.teasers3_area .item:nth-child(4n+4) .article .text:before{
			position: absolute;
			bottom: -10px;
			left: 30px;
			border: 5px solid transparent;	border-top: 5px solid #e2edd3;

			content: '';
		}										

		.teasers3_area .item .article .text:before{
			position: absolute;
			bottom: -10px;
			left: 30px;
			border: 5px solid transparent;	border-top: 5px solid #e8e2f1;

			content: '';
		}	

			.teasers3_area .item .article .text_inner:before{
				content: '«';

				text-indent: -7px;

				display: inline-block;
			}

			.teasers3_area .item .article .text_inner:after{
				content: '»';

				display: inline-block;
			}

			.teasers3_area .item .article .text_inner{
				font-size: 14px;
				font-weight: normal;
			}

		.teasers3_area .item .article .meta{
			padding: 10px;
		}

			.teasers3_area .item .article img{
				vertical-align: middle;

				width: 30px;
				height: 30px;
				display: inline-block;
				border-radius: 40px;
			}

			.teasers3_area .item .article .author{
				font-weight: bold;
				vertical-align: middle;
			}				
	
/*************************************************************************************************************** LOCAL_blocks : teasers2_area */
.teasers2_area{

}

	.teasers2_area .item .article {
		border-top: 1px solid #efefef;
		padding-top: 22px;
		margin-top: 3px;
	}

	.teasers2_area .item:first-child + .item + .item .article,
	.teasers2_area .item:first-child + .item .article,
	.teasers2_area .item:first-child .article{
		border-top: none;
	}

		.teasers2_area .item .img{
			display: block;
			position: absolute;
			width: 50px;
			height: 50px;
			border-radius: 50px;
			top: 30px;
			left: 12px;
		}	

		.teasers2_area .item .text{
			display: block;
			padding-left: 60px;

			color: #000;
			font-family: 'PT Sans', sans-serif;
			text-align: left;
			line-height: 20px;
		}		

			.teasers2_area .item .title:before{
				content: '«';

				text-indent: -7px;

				display: inline-block;
			}

			.teasers2_area .item .title:after{
				content: '»';

				display: inline-block;
			}	

			.teasers2_area .item .text .title{
				font-size: 14px;
				font-weight: normal;

				display: block;
				position: relative;
				margin-bottom: 12px;
			}

			.teasers2_area .item .text .name{
				display: block;

				font-weight: bold;
				font-style: italic;
			}

			.teasers2_area .item .text .position{
				display: block;

				font-style: italic;
				font-weight: normal;
			}						

/*************************************************************************************************************** LOCAL_blocks : teasers1_area */
.teasers1_area {
   

    
}	

	.teasers1_area .item .article {
		border: 1px solid #efefef;
	}

		.teasers1_area .item img {
			width: 100%;
			height: auto;
			display: block;
		}

		.teasers1_area .item .a_inner .h4:hover {
			color: #2a6496;
			text-decoration: none;
		}

		.teasers1_area .item .a_inner .h4 {
			line-height: 18px;
			font-size: 16px;
			margin: 18px;
			font-weight: bold;
			color: #000;
			text-decoration: none;
			overflow: hidden;
		}

/*************************************************************************************************************** LOCAL_blocks : banner_area */
.banner_area{
	text-align: center;

	padding: 15px;
}

	.banner_area ins{
		background: orange;
	}

/*************************************************************************************************************** LOCAL_blocks : main_news_area */
.main_news_area{
	display: block;
}

	.sk_info_block:hover{
	  background: #f3fafd;
	  display: block;
	  text-decoration: none;
	}

	.sk_info_block{
	  overflow: hidden;
	  padding: 24px 24px 0px;
	  display: block;
	  position: relative;
	  text-decoration: none;
	}

	  .sk_info_block .img:before{
	  	position: absolute;
	  	z-index: 10;
	  	right: -17px;
	  	top: 20px;
	  	width: 23px;
	  	height: 14px;
	  	background: url('../images/plavnik.png') left top no-repeat;

	  	content: '';
	  }

	  .sk_info_block .img{
	  	position: relative;
	  	z-index: 20;
	    width: 100px;
	    height: 100px;
	    border: 4px solid #e8e8e8;
	    border-radius: 80px;
	    display: block;
	    float: left;
		position: absolute;
		top: 36px;
		left: 33px;	    
	  }

	    .sk_info_block .img img{
	      display: block;
	      width: 100px;
	      height: 100px;
	      border-radius: 80px;

	    }

	  .sk_info_block .body{
	    overflow: hidden;
	    padding-left: 160px;
	  }

	    .sk_info_block .body .link{
	      text-decoration: none;
	      display: block;
	    }

	    .sk_info_block .body .link:hover{
	      text-decoration: none;
	    }

	      .sk_info_block .body .meta{
	        color: #bebebe;
	        min-height: 18px;

	        font-size: 13px;
	      }

	        .sk_info_block .body .meta .icon{
	          position: relative;
	          top: -2px;
	        }

	        .sk_info_block .body .meta .sign{
	          padding-right: 22px;
	          display: inline-block;
	        }

	        .sk_info_block .body .meta .date{
	          display: inline-block;
	        }

	      .sk_info_block .body .h3:hover{
	      	text-decoration: none;
	      }

	      .sk_info_block .body .h3{
	        margin-top: -4px !important;
	        padding-bottom: 27px;

	        font-size: 28px;
	        font-family: 'PT Sans', sans-serif;
	        font-weight: bold;
	        color: #252525;
	      }

	      .sk_info_block .body .text{
	        padding-bottom: 14px;
	        display: none;

	        color: #252525;
	        font-size: 14px;
	      }

	    .sk_info_block .body .sort-block{
	      float: left;
	      clear: left;
	      margin-bottom: 20px;
	      width: 100%;
	      border-bottom: 1px solid #e7e7e7;
	      padding-bottom: 20px;
	    }

	      .sk_info_block .body .sort-block .a.active {      /* */
	        text-decoration: none;
	        background: #2792c5;
	        -webkit-border-radius: 3px;
	        -moz-border-radius: 3px;
	        border-radius: 3px;
	      }

	      .sk_info_block .body .sort-block .a {
	        display: block;
	        float: left;
	        clear: left;
	        font-size: 14px;
	        margin: 0 2px;
	        padding: 5px 10px;
	        color: #FFF;
	      }

	  .sk_info_block .body .socializm{
	    overflow: hidden;
	    float: left;
	    clear: left;

	  }

	    .sk_info_block .body .socializm span{
	      margin-right: 16px;
	      border: 1px solid #6083aa;

	      display: inline-block;
	      /*height: 24px;*/
	      width: 40px;
	      text-align: center;
	      vertical-align: top;
	      padding-left: 35px;
	      padding-right: 5px;
	      font-size: 12px;
	      color: #8b8b8b;
	      line-height: 22px;
	      margin-right: 7px;
	      -webkit-border-radius: 3px;
	      -moz-border-radius: 3px;
	      border-radius: 3px;
	      margin-bottom: 20px;
	      background: url("//static.smi2.net/static/aggregator_v2/img/social-vk.png") -1px -1px no-repeat;
	    }

	    .sk_info_block .body .socializm .-vk{
	      background: url("//static.smi2.net/static/aggregator_v2/img/social-vk.png") -1px -1px no-repeat;
	      border: 1px solid #6083aa;
	    }

	    .sk_info_block .body .socializm .-fb{
	      background: url("//static.smi2.net/static/aggregator_v2/img/social-fb.png") -1px -1px no-repeat;
	      border: 1px solid #415caa;
	    }

	    .sk_info_block .body .socializm .-tw{
	      background: url("//static.smi2.net/static/aggregator_v2/img/social-tw.png") -1px -1px no-repeat;
	      border: 1px solid #32a8e4;
	    }

	    .sk_info_block .body .socializm .-ok{
	      background: url("//static.smi2.net/static/aggregator_v2/img/social-ok.png") -1px -1px no-repeat;
	      border: 1px solid #f08c00;
	    }


		.sk_info_block .source-icon-wrap {
		    color: #bebebe;
		    font-size: 13px;
		    height: 23px;
		    display: block;
		    margin-bottom: 30px;
		}
		.sk_info_block .source-icon-wrap .icon {
		    float: left;
		    margin-right: 7px;
		    width: 16px;
		    display: none;
		}
		.sk_info_block .source-icon-wrap .icon-name {
		    float: left;
		    margin-right: 22px;

		}
		.sk_info_block .source-icon-wrap .date {
		    float: left;
		}
		.sk_info_block .title {
		    font-size: 22px;
		    font-weight: 700;
		    color: #252525;
		    line-height: 1.2;
		    margin-bottom: 7px;
		}
		.sk_info_block .desc {
		    font-size: 14px;
		    color: #252525;
		}
		.sk_info_block .read-btn {
		    display: inline-block;
		    background: #2c9ed5;
		    color: #FFF;
		    font-size: 14px;
		    padding: 5px 10px;
		    margin-top: 15px;
		    margin-bottom: 20px;
		    -webkit-border-radius: 3px;
		    -moz-border-radius: 3px;
		    border-radius: 3px;
		}


/*************************************************************************************************************** GLOBAL_blocks : header */
.header{

}

	.header .logo_link{
		float: left;
		margin-top: 14px;
		margin-left: 27px;
	}

	.header .header_menu{
		float: right;
		overflow: hidden;
		margin-top: 21px;
		margin-right: 27px;
	}

		.header .header_menu a:hover{
			text-decoration: underline;
		}

		.header .header_menu a{
			float: left;
			display: block;
			margin: 0 18px;

			font-family: 'PT Sans', sans-serif;
			font-size: 16px;
			color: #252525;
			text-decoration: none;
		}

		.header .header_menu a.enter{
			font-weight: bold;
		}

/*************************************************************************************************************** GLOBAL_blocks : right_column */
.wrap2 .right_column{

}

	.wrap2 .right_column .h1{
		padding: 15px 17px 14px;
		border-bottom: 1px solid #ccc;

		font-size: 22px;
		font-family: 'Open Sans', 'PT Sans', sans-serif;
	}

	.wrap2 .right_column .aggregator_list{
		
	}

		.wrap2 .right_column .aggregator_list .article{
			overflow: hidden;
			position: relative;
			display: block;
			padding: 14px 4px;
			border-bottom: 1px solid #ccc;
		}

			.wrap2 .right_column .aggregator_list .article .img{
				position: absolute;
				top: 17px;
				left: 20px;
			}

			.wrap2 .right_column .aggregator_list .article .title{
				padding-left: 50px;
			}			


/*************************************************************************************************************** MEDIA QUERIES */
