body {
  width: 450px;
  margin: 0;
  padding: 0;
}

  .main-header {
    display: block;
    background-color: #3fae29;
    padding: 0px 18px;
    overflow: hidden;
    height: 60px;
  }

  .main-header > .title {
    display: inline-block;
    padding-top: 19px;
    padding-left: 17px;
    margin: 0;

    color: #fff;
    font: 16px 'PT Sans', arial, sans-serif;
  }

  .main-header > .logo {
    display: inline-block;
    margin-top: 9px;
    float: left;
  }

  #articles{
  }

    .article-wrapper:first-child{
      border: none;
    }

    .article-wrapper {
      padding: 20px;
      border-top: 1px solid #f1f6fb;
      overflow: hidden;
    }

    .article-wrapper:hover {
      background: #f1f6fb;
      cursor
    }

      .article-wrapper:hover .article-timer {
        color: #5e5e5e;
      }

      .article-wrapper:hover .article-link {
        color: #3090ce;
      }

      .article-img {
        display: block;
        width: 16px;
        height: 16px;
        float: left;
        margin-right: 20px;
      }

      .article-link {
        display: inline-block;
        width: 320px;
        overflow: hidden;
        float: left;

        text-overflow: ellipsis;
        white-space: nowrap;
        text-decoration: none;
        color: #000;
        font: 14px 'PT Sans', arial, sans-serif;        
      }

      .article-link:hover {
        color: #000;
        text-decoration: none;
      }

      .article-timer {
        display: block;
        float: right;
        margin-top: 2px;

        color: #bebebe;
        font: 12px 'PT Sans', arial, sans-serif; 
      }