<style type="text/css"> #smi2adblock_83587 td { border-style: none; } #smi2adblock_83587 tr td:last-child { border-right-style: none; } #smi2adblock_83587 tr:last-child td { border-bottom-style: none; }  </style>
<div id="smi2adblock_83587"><a href="http://smi2.net/">Новости СМИ2</a></div>
<script id="smi2-block-template" type="text/x-smi2-block-template"><![CDATA[
  <table cellspacing="0" cellpadding="0" border="0">
    <tbody>
    <%= itemsContent %>
    </tbody>
  </table>
]]></script>
<script id="smi2-items-template" type="text/x-smi2-block-template"><![CDATA[
  <tr>
    <% for (var i = 0; i < items.length; i++) { %>
    <td style="text-align: center; vertical-align: top; padding: 0 10px 10px 10px">
      <div style="margin: 0 0 5px 0">
        <a href="<%= items[i].url %>" target="_blank"><img border="0" src="<%= items[i].img %>"></a>
      </div>
      <a href="<%= items[i].url %>" target="_blank"><%= items[i].title %></a>
    </td>
    <% } %>
  </tr>
]]></script>
<script type="text/javascript" src="//static.smi2.net/static/js/smi2adinfinity.js"></script>
<script type="text/javascript">
  Smi2AdInfinity.blockId = 83587;
  Smi2AdInfinity.adCount = 3;
  Smi2AdInfinity.jsDomain = 'news.smi2.ru';
  Smi2AdInfinity.init();
</script>



http://joxi.ru/BA0aNGWhgRPPry